* text=auto !eol
/.cproject -text
/.project -text
.settings/org.eclipse.core.runtime.prefs -text
.settings/org.eclipse.ltk.core.refactoring.prefs -text
/Makefile -text
/README -text
/SConscript -text
include/BlockIO.h -text
include/CifDefs.h -text
include/CifString.h -text
include/DataInfo.h -text
include/Exceptions.h -text
include/GenCont.h -text
include/GenString.h -text
include/RcsbFile.h -text
include/RcsbPlatform.h -text
include/Serializer.h -text
include/mapped_ptr_vector.h -text
include/mapped_vector.h -text
include/rcsb_math.h -text
include/rcsb_types.h -text
lib/.cvsignore -text
obj/.cvsignore -text
src/BlockIO.C -text
src/CifString.C -text
src/DataInfo.C -text
src/Exceptions.C -text
src/GenCont.C -text
src/GenString.C -text
src/RcsbFile.C -text
src/RcsbPlatform.C -text
src/Serializer.C -text
src/mapped_ptr_vector.C -text
src/mapped_vector.C -text
